@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
}

body {
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  letter-spacing: -0.25px;

  @apply font-normal text-gray-600;
}

.logo {
  @apply text-2xl pointer-events-none text-orange-500 font-extrabold;
  letter-spacing: -1.5px;
}

.product-image {
  @apply relative h-0 overflow-hidden mb-2;
  padding-bottom: 140%;
}

.link {
  @apply relative;
}

.link:after {
  content: '';
  @apply w-full h-0.5 bg-black absolute top-full left-0 transition-transform scale-x-0;
}

.link:hover:after,
.link-active:after {
  @apply scale-x-100;
}

.column-icon {
  @apply flex items-center gap-0.5;
}

.column-icon span {
  @apply rounded-sm w-2 h-4 border border-gray-400 bg-gray-300;
}
